.header {
    margin-bottom: 10px;
}

.header .header-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header .header-container .brand {
    margin-left: 0.5%;
    font-size: 24px;
    font-weight: bold;
}