.header {
    background-color: #191926;
    height: 60px;
    color: White;
    margin-bottom: 20px;
}

.header .container {
    margin-left: 0.3%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-brand {
    font-size: 24px;
    font-weight: bold;
}