.chat-wrapper {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-left: 1%;
    height: 100%;
}

.chat-wrapper .chat-footer {
    position: fixed;
    bottom: 0;
    width: 24%;
}

.chat-wrapper .chat-log {
    scrollbar-width: thin;
    scrollbar-color: rgba(97, 218, 251, 0.40) #191926;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-log .message-line {
    margin-bottom: 10px;
}

.chat-log .message-line .message {
    color: rgba(255, 255, 255, 0.85);
    word-wrap: break-word;
}

.chat-log .message-line .separator {
    color: rgba(255, 255, 255, 0.3);
}