.button-container {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 10%;
}

.button-container button {
    width: 100%;
}
