.player-wrapper {
    display: flex;
    flex-direction: column;
    float: left;
    width: 70%;
    margin-left: 30px;
}

.player {
    background-color: rgba(255, 255, 255, 0.05);
    height: 700px;
}

.player .no-content {
    position: absolute;
    left: 35%;
    top: 35%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgba(97, 218, 251, 0.5);
}