.player-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.player-wrapper .player {
    background: rgb(0, 0, 0, 0.5);
    height: 100%;
    position: relative;
    margin-bottom: 1%;
}

.player-wrapper .player .no-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(97, 218, 251, 0.5);
    margin: 0;
    font-weight: lighter;
}

.player-wrapper .player-info {
    direction: rtl;
    justify-content: flex-end;
}

.player-wrapper .player-info .user-counter {
    display: inline-flex;
    flex-direction: row-reverse;
    color: rgba(97, 218, 251, 0.5);
}