.chat-wrapper {
    display: flex;
    flex-direction: column;
    float: right;
    width: 25%;
    margin-left: 30px;
    height: 100%;
}

.chat-log {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    scrollbar-width: thin;
    scrollbar-color: rgba(97, 218, 251, 0.35) #191926;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.chat-log .message-line {
    margin-bottom: 10px;
}

.chat-log .message-line .author {
    color: rgba(253, 16, 16, 0.7);
}

.chat-log .message-line .message {
    color: rgba(255, 255, 255, 0.85);
    word-wrap: break-word;
}

.chat-log .message-line .separator {
    color: rgba(255, 255, 255, 0.3);
}